<!DOCTYPE html PUBLIC "-W3CDTD XHTML 1.0 TransitionalEN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
    <script type="text/javascript">
        
            // Load this script once the document is ready
            $(document).ready(function() {

                // Get all the thumbnail
                $('div.thumbnail-item').mouseenter(function(e) {
                    
                    // Calculate the position of the image tooltip
                    x = e.pageX - $(this).offset().left;
                    y = e.pageY - $(this).offset().top;

                // Set the z-index of the current item,
                // make sure it's greater than the rest of thumbnail items
                // Set the position and display the image tooltip
                $(this).css('z-index', '15')
                        .children("div.tooltip")
                        .css({'top': y + 10, 'left': x + 20, 'display': 'block', 'opacity': 1});

            }).mousemove(function(e) {

                // Calculate the position of the image tooltip
                x = e.pageX - $(this).offset().left;
                y = e.pageY - $(this).offset().top;

                // This line causes the tooltip will follow the mouse pointer
                $(this).children("div.tooltip").css({'top': y + 10, 'left': x + 20});

            }).mouseleave(function() {

                // Reset the z-index and hide the image tooltip
                $(this).css('z-index', '1')
                        .children("div.tooltip")
                        .animate({"opacity": "hide"}, "fast");
            });

        });
    </script>
    <style>

        .thumbnail-item {
            /* position relative so that we can use position absolute for the tooltip */
            position: relative;
            float: left;
            margin: 0px 5px;
        }

        .thumbnail-item a {
            display: block;
        }

        .thumbnail-item img.thumbnail {
            border:3px solid #ccc;
        }
        
        .thumbnail-item .tooltip > img {
                max-width:initial;
        }

        .thumbnail-item .tooltip {
            /* by default, hide it */
            display: none;
            /* allow us to move the tooltip */
            position: absolute;
            /* align the image properly */
            padding: 8px 0 0 8px;
        }
    </style>
    
</h:head>
<body>

	<f:view locale="#{facesContext.externalContext.requestLocale}" />

	<p:ajaxStatus style="width:16px;height:16px;position:fixed;top:63px;right:120px;" id="ajaxStatusPanel">
		<f:facet name="start">
			<h:graphicImage value="/images/loading.gif"
				style="text-align:center;width:40px;height:40px;" />
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>
	<BR />

	<h:form>
		<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />  
		<p:commandLink ajax="false"
			action="/view.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal">
			<p:graphicImage value="/images/Home-Button.png" />
		</p:commandLink>
		<p:commandLink ajax="false" actionListener="#{myBean.showForm}">
                    <f:setPropertyActionListener value="#{myBean.selectedCountry}"
                                                 target="#{myBean.selectedCountry}" />
                    <p:graphicImage value="/images/flags/#{myBean.selectedCountry}.png"
                                    style="text-align:center;width:30px;height:30px;" />
                </p:commandLink>
	</h:form>

	<h:form>
            <h3>#{msg['ui.searchmask.info']}</h3>
<!--
            <h:panelGrid columns="2">

                    <ui:repeat value="#{myBean.identifiers}" var="identifier">
                        <h:outputLabel value="#{identifier.key}" />
                        <p:inputText id="uservalue" value="#{identifier.userValue}" required="true" />
                    </ui:repeat>
</h:panelGrid>
                        <h:panelGrid columns="2" id="aa">

                     <ui:repeat value="#{myBean.demographics}" var="demographic">
			<h:outputLabel value="#{demographic.label}" rendered="#{myBean.showDemographics}"/>
                        <p:inputText id="userValue2" value="#{demographic.userValue}" 
                                    required="#{demographic.mandatory}" rendered="#{demographic.type=='text'}" />
                        <p:calendar value="#{demographic.userDateValue}" id="userDateValue2" 
						rendered="#{demographic.type=='calendar'}" pattern="yyyyMMdd" 
						navigator="true" >
                                <f:convertDateTime pattern="yyyyMMdd"/>  
                        </p:calendar>			
                     </ui:repeat>
                        </h:panelGrid>          
            -->
            
            <p:panel widgetVar="panel1">
                <p:dataTable var="identifier" value="#{myBean.identifiers}">
                        <p:column>
                                <f:facet name="header">
                                        <h:outputText value="#{identifier.key}" />
                                </f:facet>
                                <h:outputText value="#{identifier.key}" />

                        </p:column>
                        <p:column>
                                <f:facet name="header">
                                </f:facet>
                                <p:inputText id="userValue" value="#{identifier.userValue}"
                                        required="true" />
                        </p:column>
                </p:dataTable>
            </p:panel>
            
            <p:panel widgetVar="panel2" visible="#{myBean.showDemographics}">
                <p:dataTable var="demographic" value="#{myBean.demographics}">
                        <p:column>
                                <f:facet name="header">
                                        <h:outputText value="#{demographic.label}" />
                                </f:facet>
                                <h:outputText value="#{demographic.label}" />
                        </p:column>
                        <p:column>
                                <f:facet name="header">
                                </f:facet>
                                <p:inputText id="userValue2" value="#{demographic.userValue}"
                                        required="#{demographic.mandatory}" rendered="#{demographic.type=='text'}" />
                                <p:calendar yearRange="#{myBean.calendarYearRange}" value="#{demographic.userDateValue}" id="userDateValue2"
                                            rendered="#{demographic.type=='calendar'}" pattern="yyyyMMdd"
                                        navigator="true" >
                                         <f:convertDateTime pattern="yyyyMMdd"/>
                            </p:calendar>

                        </p:column>
                </p:dataTable>
            </p:panel>
            
            <p:panel id="cardsPanel">
                <p:panelGrid id="cardsPanelGrid" columns="2">
                    <h:outputText value="#{msg['ui.identification.cards']}:" />
                    <p:dataGrid var="cardPicName"
                                value="#{myBean.getIdCardNames(myBean.selectedCountry)}"
                                style="overflow:visible"
                                columns="#{myBean.getIdCardQty(myBean.selectedCountry)}"
                                emptyMessage="#{msg['ui.identification.cards.empty']}"
                                >
                        <p:row>
                            <div class="thumbnail-item">
                                <a id="card_thumbnail" href="#"><p:graphicImage value="#{cardPicName.replaceAll('\\.', '_small.')}" styleClass="thumbnail" style="overflow:visible" /></a>
                                <div class="tooltip">
                                    <p:graphicImage value="#{cardPicName}" alt="" style="overflow:visible"/>
                                </div>
                            </div>
                        </p:row>
                    </p:dataGrid>
                </p:panelGrid>
            </p:panel>
		
		<p:commandButton 
			value="#{msg['ui.search.info']}"
			ajax="true" actionListener="#{myBean.searchPatients}"
			update="resultPanel" oncomplete="panelwv.show();">
		</p:commandButton>
                <p/>
            
		<p:panel widgetVar="panelwv" visible="false" closable="true"
			toggleable="true" id="resultPanel">
                    
                    <p:dataTable var="patient" value="#{myBean.patients}"
                                emptyMessage="#{myBean.queryPatientsException}">
                                <p:column>
                                        <f:facet name="header">
                                                <h:outputText value="#{msg['patient.data.surname']}" />
                                        </f:facet>
                                        <h:outputText value="#{patient.familyName}" />
                                </p:column>                        
                                <p:column>
                                        <f:facet name="header">
                                                <h:outputText value="#{msg['patient.data.givenname']}" />
                                        </f:facet>
                                        <h:outputText value="#{patient.name}" />
                                </p:column>
                                <p:column>
                                        <f:facet name="header">
                                                <h:outputText value="#{msg['patient.data.birth.date']}" />
                                        </f:facet>
                                        <h:outputText value="#{patient.birthDate}" />
                                </p:column>
                                <p:column>
                                        <f:facet name="header">
                                                <h:outputText value="#{msg['patient.data.street.address']}" />
                                        </f:facet>
                                        <h:outputText value="#{patient.address}" />
                                </p:column>
                                <p:column>
                                        <f:facet name="header">
                                                <h:outputText value="#{msg['patient.data.code']}" />
                                        </f:facet>
                                        <h:outputText value="#{patient.postalCode}" />
                                </p:column>
                                <p:column>
                                        <f:facet name="header">
                                                <h:outputText value="#{msg['patient.data.city']}" />
                                        </f:facet>
                                        <h:outputText value="#{patient.city}" />
                                </p:column>
                                <p:column>
                                        <f:facet name="header">
                                                <h:outputText value="#{msg['patient.data.country']}" />
                                        </f:facet>
                                        <h:outputText value="#{patient.country}" />
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{msg['patient.summary']}" />
                                    </f:facet>
                                    <p:commandLink
                                        action="/viewPatientConfirmationForDocuments.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal"
                                        id="p1"
                                        ajax="false"
                                        title="#{msg['navi.report.summary']}"
                                        rendered="#{myBean.assertionNotExists}"
                                        disabled="#{!myBean.enablePatientDocuments}">
                                        <f:setPropertyActionListener value="#{patient}"
                                                target="#{myBean.selectedPatient}" />
                                        <p:graphicImage value="/images/PatientData.png"
                                                        style="text-align:center" />
                                        <!--#{msg['ui.ps.info']}<br/>-->

                                    </p:commandLink>
                                    <p:commandLink
                                            action="/viewDocuments.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal"
                                            ajax="false"
                                            title="#{msg['navi.report.summary']}"
                                            rendered="#{myBean.assertionExists}"
                                            disabled="#{!myBean.enablePatientDocuments}">
                                            <f:setPropertyActionListener value="#{patient}"
                                                    target="#{myBean.selectedPatient}" />
                                            <p:graphicImage value="/images/PatientData.png"
                                                    style="text-align:center" />
                                    </p:commandLink>
                             </p:column>
                        </p:dataTable>       
                    
                        <!--
                    <h:outputLabel value="#{myBean.queryPatientsException}" />
                    
                        <ui:repeat value="#{myBean.patients}" var="patient" id="patui">
                                
        		<table>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.givenname']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.name}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.surname']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.familyName}" /></td>
				</tr>
                                <tr>
					<td><b><h:outputText value="#{msg['patient.data.birth.date']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.birthDate}" /></td>
				</tr>                            
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.street.address']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.address}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.code']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.postalCode}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.city']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.city}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.country']}" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{patient.country}" /></td>
				</tr>
                                <tr>
					<td><b><h:outputText value="#{msg['patient.summary']}" /></b></td>
					<td>&nbsp;</td>
					<td>
				
			                                                                                              
                              
                            <p:commandLink
                                    action="/viewPatientConfirmationForDocuments.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal"
                                    id="p1"
                                    ajax="false"
                                    title="#{msg['navi.report.summary']}"
                                    rendered="#{myBean.assertionNotExists}"
                                    disabled="#{!myBean.enablePatientDocuments}">
                                    <f:setPropertyActionListener value="#{patient}"
                                            target="#{myBean.selectedPatient}" />
                                    #{msg['ui.ps.info']}<br/>

                            </p:commandLink>
                                        </td>
                                </tr>
                        </table> -->
<!--
                            <p:commandLink 
                                    action="/viewPatientConfirmation.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal"
                                    ajax="false"
                                    id="p4"
                                    title="#{msg['navi.report.prescription']}"
                                    rendered="#{myBean.assertionNotExists}"
                                    disabled="#{!myBean.enablePrescriptionDocuments}">
                                    <f:setPropertyActionListener value="#{patient}"
                                            target="#{myBean.selectedPatient}" />
                                    #{msg['ui.ep.info']}<br/>
                            </p:commandLink>

                            <p:commandLink 
                                    action="/viewPatientConfirmationForConsent.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal"
                                    ajax="false"
                                    id="p6"
                                    title="#{msg['patient.data.agreement.title']}"
                                    rendered="#{myBean.assertionNotExists and myBean.enableCONSENT}"
                                    disabled="#{!myBean.enablePatientDocuments}">
                                    <f:setPropertyActionListener value="#{patient}"
                                            target="#{myBean.selectedPatient}" />
                                    #{msg['ui.consent.info']}<br/>
                            </p:commandLink>
                            <p:commandLink 
                                action="/viewPatientConfirmationForHCER.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal"
                                ajax="false"
                                id="p8"
                                title="#{msg['patient.data.hcer.title']}"
                                rendered="#{myBean.assertionNotExists and myBean.enableHCER}"
                                disabled="#{!myBean.enableHCER}">
                                <f:setPropertyActionListener value="#{patient}"
                                                             target="#{myBean.selectedPatient}" />
                                    #{msg['ui.hcer.info']}<br/>
                            </p:commandLink>
                            <p:commandLink 
                                action="/viewPatientConfirmationForMRO.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal"
                                ajax="false"
                                id="p10"
                                title="#{msg['patient.data.mro.title']}"
                                rendered="#{myBean.assertionNotExists and myBean.enableMRO}"
                                disabled="#{!myBean.enableMRO}">
                                <f:setPropertyActionListener value="#{patient}"
                                                             target="#{myBean.selectedPatient}" />
                                    #{msg['ui.mro.info']}<br/>
                            </p:commandLink>    -->                           
                       <!-- </ui:repeat>   -->
                        </p:panel>

			
	</h:form>
</body>
</html>




