<!DOCTYPE html PUBLIC "-W3CDTD XHTML 1.0 TransitionalEN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<body>

	<f:view locale="#{facesContext.externalContext.requestLocale}" />

	<p:ajaxStatus style="width:16px;height:16px;" id="ajaxStatusPanel">
		<f:facet name="start">
			<h:graphicImage value="/images/loading.gif"
				style="text-align:center;width:40px;height:40px;" />
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>
	<BR />
       
	<h:form>
		<p:commandLink  ajax="false"
			action="/view.xhtml?javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal" >
			<p:graphicImage value="/images/Home-Button.png" />
			</p:commandLink>		
		<p:commandLink ajax="false" actionListener="#{myBean.showForm}">
                    <f:setPropertyActionListener value="#{myBean.selectedCountry}"
                                                 target="#{myBean.selectedCountry}" />
                    <p:graphicImage value="/images/flags/#{myBean.selectedCountry}.png"
                                    style="text-align:center;width:30px;height:30px;" />
                </p:commandLink>
	</h:form>

	<p:messages id="messages" showDetail="true" autoUpdate="true" />  
	<h:form>
		<p:commandButton id="confirmation" value="#{msg['navi.documents.confirmation']}" ajax="false" rendered="#{myBean.assertionNotExists}"
			action="/viewPatientConfirmationForDocuments.xhtml?faces-redirect=true&amp;javax.portlet.faces.PortletMode=view&amp;javax.portlet.faces.WindowState=normal">
		</p:commandButton>
	</h:form>

	<p:panel header="Consent Form" widgetVar="panelwv_0" rendered="#{myBean.showConsent}"
			id="consentPanel">
	<h:form id="consentForm">
	
	<ui:include src="consent.xhtml" />
			
			<h:panelGrid>
		  	<p:commandButton id="btn1" value="Save"
    			actionListener="#{myBean.saveConsentPS}" ajax="true" 
    			update=":resultPanel,:consentPanel" oncomplete=":panelwv.show();:panelwv_0.hide();">
    		</p:commandButton>
    		</h:panelGrid>

	</h:form>
	</p:panel>
        <h3>#{msg['ui.ps.details']}</h3>
                <ui:include src="patient.xhtml" />
                
		<!--<p:panel header="#{msg['navi.report.summary']}">
			<table>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.givenname']}:" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{myBean.selectedPatient.name}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.surname']}:" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{myBean.selectedPatient.familyName}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.street.address']}:" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{myBean.selectedPatient.address}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.code']}:" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{myBean.selectedPatient.postalCode}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.city']}:" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{myBean.selectedPatient.city}" /></td>
				</tr>
				<tr>
					<td><b><h:outputText value="#{msg['patient.data.country']}:" /></b></td>
					<td>&nbsp;</td>
					<td><h:outputText value="#{myBean.selectedPatient.country}" /></td>
				</tr>
			</table>
		</p:panel>-->

	<p:panel widgetVar="panelwv" visible="#{myBean.showPS}" closable="true"
			toggleable="true" id="resultPanel">
	<h:form>
 

		<p:dataTable var="document" value="#{myBean.patientDocuments}" emptyMessage="#{myBean.queryDocumentsException}">
                        <p:column>
                                <f:facet name="header">
                                        <h:outputText value="#{msg['report.document.title']}" />
                                </f:facet>
                                <h:outputText value="#{document.title}" />
                        </p:column>
                        <p:column>
                                <f:facet name="header">
                                        <h:outputText value="#{msg['report.document.description']}" />
				</f:facet>
				<h:outputText value="#{document.description}" >
                                </h:outputText>

			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="#{msg['report.document.author.person']}" />
				</f:facet>
				<h:outputText value="#{document.author}" />
			</p:column>
                        <p:column>
				<f:facet name="header">
					<h:outputText value="#{msg['report.document.creation.time']}" />
				</f:facet>
				<h:outputText value="#{document.creationDate}" />
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="#{msg['report.detail.document']}" />
				</f:facet>
                                <h:outputLink value="/epsosportal/cdaServlet?uuid=#{document.uuid}&amp;repositoryid=#{document.repositoryId}&amp;hcid=#{document.hcid}&amp;docType=ps"
                                    target="_blank" 
                                    rendered="#{document.formatCode.value.toLowerCase()=='urn:epsos:ps:ps:2010'}">
                                    <p:graphicImage value="/images/HTML-Icon.gif" style="text-align:center;width:30px;height:30px;" />
                                </h:outputLink>  

                                <h:outputLink value="/epsosportal/ccdServlet?uuid=#{document.uuid}&amp;repositoryid=#{document.repositoryId}&amp;hcid=#{document.hcid}&amp;docType=ps&amp;exportType=html"
                                            target="_blank" rendered="#{document.formatCode.value.toLowerCase()=='urn:epsos:ps:ps:2010' and myBean.enableCCD}">
                                        <p:graphicImage value="/images/CCD.png" style="text-align:center;height:30px;" />
                                </h:outputLink>                             

                                <h:outputLink value="/epsosportal/cdaServlet?uuid=#{document.uuid}&amp;repositoryid=#{document.repositoryId}&amp;hcid=#{document.hcid}&amp;docType=ps&amp;exportType=pdf"
                                        target="_blank" rendered="#{document.formatCode.value.toLowerCase()=='urn:epsos:ps:ps:2010'}"
                                        >
                                        <p:graphicImage value="/images/pdf_icon.png" style="text-align:center;width:30px;height:30px;" />
                                </h:outputLink>  

                                <h:outputLink value="/epsosportal/pdfServlet?uuid=#{document.uuid}&amp;repositoryid=#{document.repositoryId}&amp;hcid=#{document.hcid}&amp;docType=ps"
                                                target="_blank" rendered="#{document.formatCode.value.toLowerCase()=='urn:ihe:iti:xds-sd:pdf:2008'}">
                                                <p:graphicImage value="/images/pdf_icon.png" style="text-align:center;width:30px;height:30px;" />  
                                </h:outputLink>  
			</p:column>
		</p:dataTable>
		          
	</h:form>
            
            <p:panel header="#{msg['ui.surveys']}">
                <table>
                    <tr>
                        <td><b><h:outputText value="#{msg['ui.surveys.health.professional']}" /></b></td>
                        <td>&nbsp;</td>
                        <td>
                            <h:outputLink value="http://vserver.gen.auth.gr/epsos/pt-pt/user?destination=home&amp;name=participant_pt&amp;pass=epsos82@" target="_blank">
                                <p:graphicImage value="/images/document.png" style="text-align:center;width:30px;height:30px;" />
                            </h:outputLink>
                        </td>
                    </tr>
                    <tr>
                        <td><b><h:outputText value="#{msg['ui.surveys.patient']}" /></b></td>
                        <td>&nbsp;</td>
                        <td>
                            <h:outputLink value="/epsosportal/files/forms/epSOS_PATIENT_QUESTIONNAIRE_PS_#{myBean.selectedCountry.toUpperCase()}.pdf" target="_blank">
                                <p:graphicImage value="/images/pdf_icon.png" style="text-align:center;width:30px;height:30px;" />
                            </h:outputLink></td>
                    </tr>
                </table>
            </p:panel>

        </p:panel>
</body>
</html>